# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# default name for the executable
chemCLI
chemCLI.arm.x
chemCLI.amd.x
chemCLI.exe

# all log files
*.log

# don't include the private configuration file and instances folder
chem_cli.*
instances/
